
#rows1{

height:38.75vw;
text-align:center;
color: white;
font-size: 3.1em;
	
}

#get_started{
	margin-top: 7.75vw;
	width:11.625vw ;
	height: 5.425vw;
	border:0.155vw solid white;
}

#website_title{
padding-top:15.5vw;
}

#link_modules
{
height:60vw;
background-color:white;
margin-top:1vw;

}


#card-mock-img{
	width:74vw;/*298*/
	height:20vw;/*140*/
	 /*10*/
	    
}
a:hover{
 color:green;

}
#card_block{
margin-top: 4vw;
}

#card_title{
text-align:center;

font-size:7vw;
font-family:Dosis;
}

.card-text{
	color:black;
	font-size:1.1625vw; /*15*/
	font-family: Dosis;
}

#card_footer{
	border-top:0.0775vw solid #F60100 ;
}


#card_footer{
margin-top:1vw;
margin-left:11vw;
}

#card_catg{
font-size:5vw;
text-align:center;
}

#modules_body{
margin-top:15.875vw;
height:450vw;
background-color: white;
font-size: 1em;
max-height: inherit;box-sizing:border-box;
}


#card_mock_module1{
	width:78.75vw;/*300*/
	height: 130vw;/*450*/
	border: 0.4vw solid #65A5AD;/*1*/
	margin-top:5vw;
	margin-left: 8vw;
    
	}

#card_mock_module2{
	width:78.75vw;/*300*/
	height: 130vw;/*450*/
	border: 0.4vw solid #65A5AD;/*1*/
      margin-top:5vw;
	  margin-left:8vw;
	  
}

#card_mock_module3{
	width:78.75vw;/*300*/
	height: 130vw;/*450*/
	border: 0.4vw solid #65A5AD;/*1*/
   margin-top:5vw;
   margin-left:8vw;
   }

#proj_desc_col{
background-color:#e3edf4;
height:150vw;
text-align:center;
color: white;
margin-top: 400vw;

}

#proj_desc_title{
padding-top:4vw;
font-size: 1em;
}

#project_desc{
	color:black;
	font-size:1em;/*70*/
	font-family: Dosis;
}


#how_works_col{
margin-top: 20vw;
background-color:#e3edf4;
height:150vw;
text-align:center;

color: white;
margin-top: 0vw;
max-height: inherit;box-sizing:border-box;
}

#how_works_title{
padding-top:4vw;
font-size: 1em;
font-family: Dosis;
}

#how_works_desc{
	color:black;
	font-size:1em;/*70*/
	font-family: /Dosis;
}



#contact_us_col{
font-size:2em;
background-color:#e3edf4;
height: inherit;
margin-top: 0vw;
}

#contact_us_title{
font-size: 1em;
}

#contact_us_name{
font-size: 1em;
}

#contact_us_name_input{
border-radius:0.48vw;font-family:Dosis;font-size:3vw;width: 31vw;height: 3.875vw;
}

#contact_us_email{
font-size: 1em;
}

#contact_us_email_input{
border-radius:0.48vw;font-family:Dosis;font-size:3vw;width: 31vw;height: 3.875vw;

}

#contact_us_textarea{
border-radius:0.48vw;font-size:1em; font-family:Dosis;height:23.25vw;width: 54.25vw;resize: none;
}

#contact_us_submit{
height:4vw;width:20vw;padding-top:0vw;font-size:2vw;font-family:Dosis;
}

